[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[packages]
"discord.py" = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python bot.py"